################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/.vs/API/v17
/API/API/obj
/API/API/bin/Debug/net8.0
/API/.vs/API
/.vs/API
/API/.vs/ProjectEvaluation
/API/bin/Debug/net8.0
/API/obj
/CONSUMER/obj
/.vs/ProjectEvaluation
